.btn-display {
  display: none;
}

.carta {
  height: 120px;
  width: 100%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.carta:hover {
  cursor: pointer;
}
.carta:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}
.carta.girar {
  transform: rotateY(180deg);
}

.carta-trasera,
.carta-frontal {
  position: absolute;
}
.carta-frontal {
  transform: rotateY(180deg);
}

.bloquear-clicks {
  pointer-events: none;
}

.opacar-carta {
  opacity: 0;
}
